<nav class="navbar bg-primary">
  <form class="container-fluid justify-content-start">
    <button class="btn btn-outline-light me-2" type="button">Home</button>
    <button class="btn btn-sm btn-outline-light" type="button">Account</button>
  </form>
</nav>