<nav class="navbar bg-primary">
  <form class="container-fluid justify-content-start">
    
    <%= link_to "Home", root_path,class: "btn btn-outline-light me-2" %>
    <%= link_to "Create new food", new_food_path, class: "btn btn-sm btn-outline-light" %>
    
  </form>
</nav>